* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: url(../img/websitefloor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 8281px;
  
}