* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  background-image: url(../img/bureau.png);
  background-repeat: no-repeat;
  height: 2048px;
    width: 2048px;
    margin: auto;
    background-size: 90%;
    background-position: center;
}
h1 {
position: absolute;
  scale: 300%;
    top: 540px;
    right: 400px;
}
